<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EDISON</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header class="edison">
      <a href="/"><img src="images/aeresfilled.png" class="aeresbox"></a>
      <p class="header-information light"><b>Completely unneccessary. Necessarily complete.</b><br><br>You don't have to be cool to drive this car. But you will be as soon as you're seen with it.</p>
      <stats>
        <stat>
          <numbercase><i class="material-icons">battery_full</i><br><numhighlight></numhighlight>750mi</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">power</i><br><numhighlight></numhighlight>30m</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">attach_money</i><br><numhighlight></numhighlight>$85000</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">color_lens</i><br><numhighlight></numhighlight>lime/fuego/purple</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">airline_seat_recline_normal</i><br><numhighlight></numhighlight>leather/cloth</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">local_hospital</i><br></numbercase>
        </stat>
      </stats>
    </header>
  </body>
</html>
