<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HEINRICH</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header class="heinrich">
      <a href="/"><img src="images/aeresfilled.png" class="aeresbox"></a>
      <p class="header-information light"><b>Practical. Sporty. Clean.</b><br><br>Do it all, and then some.</p>
      <stats>
        <stat>
          <numbercase><i class="material-icons">battery_full</i><br><numhighlight></numhighlight>600mi</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">power</i><br><numhighlight></numhighlight>30m</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">attach_money</i><br><numhighlight></numhighlight>$60000</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">color_lens</i><br><numhighlight></numhighlight>black/white/yellow</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">airline_seat_recline_normal</i><br><numhighlight></numhighlight>leather/cloth</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">local_hospital</i><br></numbercase>
        </stat>
      </stats>
    </header>
  </body>
</html>
