<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WESTING</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header class="westing">
      <a href="/"><img src="images/aeresfilled.png" class="aeresbox"></a>
      <p class="header-information light"><b>The heavyweight lighweight.</b><br><br>With Westing, the only thing you won't be hauling is your environmental footprint.</p>
      <stats>
        <stat>
          <numbercase><i class="material-icons">battery_full</i><br><numhighlight></numhighlight>500mi</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">power</i><br><numhighlight></numhighlight>45m</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">attach_money</i><br><numhighlight></numhighlight>$50000</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">color_lens</i><br><numhighlight></numhighlight>silver/black/white/blue</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">airline_seat_recline_normal</i><br><numhighlight></numhighlight>leather</numbercase>
        </stat>
        <stat>
          <numbercase><i class="material-icons">local_hospital</i><br></numbercase>
        </stat>
      </stats>
    </header>
  </body>
</html>
