<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ABOUT</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav>
      <a href="/"><img src="images/aeres.png" class="aeresbox"></a>
      <a href="/" class="about-link">back</a>
    </nav>
    <brostraightup>
      <section class="padded-information">
        <h1>About</h1>
        <p>Fossil fuels are a <a href="https://ourworldindata.org/fossil-fuels#fossil-fuel-prices">blatantly volatile and potentially uninterfacable</a> resource. Electric vehicles hold a vital role in this energy crisis, come the rise of a sustainably harvested majority on the electrical grid. However, in the United States, even the most progressive areas are <a href="https://www.citylab.com/transportation/2018/10/where-americas-charge-towards-electric-vehicles-stands-today/572857/">bested fourfold</a> by nations that do not even produce the majority of their consumed vehicles.</p>
        <p>It has become self-evident that electric vehicle adoption is not an issue of accessibility, but an issue of normalization. Too often, electric vehicles badge and brand themselves as <a href="https://www.greencarreports.com/news/1109640_lessons-learned-from-early-electric-car-2011-nissan-leaf-at-90000-miles">green revolutionaries</a>, disgracing the name of sustainability in the interest of public image. Age-old players manipulate the EV revolution in the exact opposite way necessary to gain consumers' <i>approval</i> (not attention).</p>
        <p><a href="/">AERES</a> produces vehicles with intentionally standard appearances and minimal 'economical' or 'zero emission' badging in order to normalize electric vehicle adoption. It is for the commuter, adventurer, and adrenaline enthusiast alike. It has something to offer to every businessperson, every chauffeur, and every student.</p>
        <p><b>EVs are the standard with AERES.</b></p>
      </section>
    </brostraightup>
  </body>
</html>
