<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AERES</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <a href="/"><img src="images/aeresfilled.png" class="aeresbox"></a>
      <p class="header-information">The evidence is clear: electric vehicles are the <a href="/about">environmentally and economically effective</a> new car option.<br><br>Now all we have to do is <a href="/about">normalize it</a>.</p>
    </header>
    <section class="lower">
      <nav>
        <a href="/"><img src="images/aeres.png" class="aeresbox"></a>
        <a href="/about" class="about-link">about</a>
      </nav>
      <brostraightup>
        <section class="vehicle-list">
          <a class="vehicle-link-to edison" href="/edison">
            <h2>edison</h2>
          </a>
          <a class="vehicle-link-to westing" href="/westing">
            <h2>westing</h2>
          </a>
          <a class="vehicle-link-to heinrich" href="/heinrich">
            <h2>heinrich</h2>
          </a>
        </section>
      </brostraightup>
    </section>
  </body>
</html>
